.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
  position: relative;
}

#bulbasaur {
  right: 80px;
}

#charmander {
  right: 70px;
  top: 30px;
}

#squirtle {
  right: 70px;
  top: 60px;
}

#pikachu {
  right: 70px;
  top: 120px;
}

#jigglypuff {
  right: 60px;
  top: 250px;
}
