button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background: black;
  color: white;
}

th {
  background: black;
  color: white;
}

tr:nth-child(odd) {
  background: lightgray;
}
