* {
  box-sizing: border-box;
}

.light.on {
  background-color: lightyellow;
}

.light.off {
  background-color: black;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-bulb {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: none;
}

.light-bulb.on {
  background-color: rgb(255 255 0 / 52.5%);
}

.light-bulb.off {
  background-color: rgb(110 110 110 / 42.4%);
  box-shadow: 0 -20px rgb(24 23 23);
}
