.container {
  width: 1440px;
  margin-right: 0;
  margin-left: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 5%;
  border-bottom: 1.5px solid lightgray;
}

.navbar {
  list-style-type: none;
}

.navbar > li {
  display: inline-block;
  margin-left: 60px;
}

a {
  text-decoration: none;
  font-family: Avenir, sans-serif;
  color: lightgray;
}

.header-logo {
  margin-right: auto;
  width: 15%;
}

.contact-button {
  height: 40px;
  width: 110px;
  background-color: #355691;
  color: white;
  font-family: Avenir, sans-serif;
  font-size: 16px;
  border-radius: 5%;
  border: none;
}

.hero-section {
  width: 1400px;
}

.hero-image {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  max-height: 700px;
  margin: 75px 80px;
  filter: brightness(90%);
}

.hero-text {
  width: 40%;
  position: absolute;
  bottom: 200px;
  left: 175px;
  color: white;
  font-family: Avenir, sans-serif;
  line-height: 2em;
  font-size: 18px;
}

.hero-header {
  position: absolute;
  bottom: 475px;
  left: 175px;
  width: 40%;
  font-family: "Tiempos Headline", serif;
  font-size: 50px;
  color: white;
}

.get-started {
  height: 50px;
  width: 180px;
  background-color: #355691;
  color: white;
  font-family: Avenir, sans-serif;
  font-size: 20px;
  border-radius: 5%;
  border: none;
  position: absolute;
  left: 175px;
  bottom: 120px;
}

.clinicians-section {
  background-color: rgb(211 211 211 / 73.8%);
  padding-bottom: 50px;
  margin-bottom: 40px;
}

.clinicians-header {
  text-align: center;
  color: rgb(0 0 0 / 54.1%);
  font-family: "Tiempos Headline", serif;
  font-size: 25px;
  padding-top: 60px;
}

.clinicians-text {
  text-align: center;
  color: rgb(0 0 0 / 54.1%);
  font-family: Avenir, sans-serif;
  font-size: 14px;
  padding-bottom: 80px;
}

.clinic-location > li {
  display: inline-block;
  padding-bottom: 20px;
}

.clinic-location {
  justify-content: space-evenly;
  display: flex;
  font-family: Avenir, sans-serif;
  color: rgb(0 0 0 / 54.1%);
  font-size: 18px;
}

.learn-more {
  color: rgb(0 0 0 / 54.1%);
  font-family: "Tiempos Headline", serif;
  font-size: 25px;
  margin-left: 70px;
}

.learn-text {
  color: rgb(0 0 0 / 54.1%);
  font-family: Avenir, sans-serif;
  font-size: 14px;
  margin-left: 70px;
  margin-bottom: 50px;
}

.started-button {
  height: 50px;
  width: 180px;
  background-color: #355691;
  color: white;
  font-family: Avenir, sans-serif;
  font-size: 20px;
  border-radius: 5%;
  margin-top: 35px;
  margin-left: 350px;
}
